:root {
  --cor-fundo: #28443F;
  --cor-principal: #156874;
  --cor-secundaria: #0f7476;
  --cor-texto: #C2D8C4;
  --cor-escura: #222222;
}

body {
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Página inicial */
.home {
  background: linear-gradient(135deg, var(--cor-secundaria), #00555a);
}

/* Botão */
.botao {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  background: var(--cor-escura);
  color: var(--cor-texto);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

/* Grid */
#grid {
  display: grid;
  gap: 2px;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--cor-principal);
  border: 3px solid #555;
  border-radius: 5px;
}

.cell {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.done {
  outline: 2px solid #00ff88;
}

/* Footer discreto */
footer {
  margin-top: auto;
  font-size: 12px;
  opacity: 0.6;
  padding: 10px;
}
  outline: 2px solid #00ff88;
}
