.home {
  background: linear-gradient(135deg, #0f7476, #00555a);
  color: white;
  text-align: center;
  padding-top: 50px;
}

.botao {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  background: #222222;
  color: #C2D8C4;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
body {
  font-family: Bell MT;
  text-align: center;
  background-color: #28443F; /* fundo */
  color: #EFE9E0; /* cor da fonte */
}

h1 {
  color: #EFE9E0;
}

#info {
  margin-top: 10px;
  font-weight: bold;
  color: #EFE9E0;
}

#grid {
  display: grid;
  gap: 2px;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #2c2c3e;

  /* 🧩 contorno do “quadro” */
  border: 3px solid #555;
  border-radius: 5px;
}

.cell {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.done {
  outline: 2px solid #00ff88;
}
